.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
  height: 300px;
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  .container {
    grid-template-columns: 100%;
  }
}

.wrapper {
  background-color: #f4f4f496;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
  p {
    line-height: 1.7rem;
  }

  img {
    width: 50%;
  }
}

.contactLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;

  a {
    color: #000;
    text-decoration: none;
  }
  i {
    width: 100px;
  }
}
.contactLink:nth-child(1) {
  background-color: #e2f3f5;
}
.contactLink:nth-child(2) {
  background-color: #22d1ee;
}
.contactLink:nth-child(3) {
  background-color: #3d5af1;
}
.contactLink:nth-child(4) {
  background-color: #364f6b;
}
