// Colors
$bg-color: #fff;
$dot-color: #cec9c6;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.container {
  margin: 0 auto;
  max-width: 65%;
  padding: 1rem;
  // background-color: #f4f4f4;
  // font-family: "Roboto", sans-serif;
  // background-color: #cccccc;
  //sticky footer
  display: flex;
  flex-direction: column; // contect and header above footer not left and fight
  min-height: 100vh;
  // position: relative;
  // bottom: 7rem;
}
// allows container to grow as need leaving enogh space for footer
.content {
  flex-grow: 1;
  // background-color: aqua;
}

.bgStyle {
  h1 {
    background-color: yellow;
  }
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}
