// Colors
$bg-color: #fff;
$dot-color: #cec9c6;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.container {
  margin: 0 auto;
  max-width: 65%;
  padding: 1rem;
  display: flex;
  flex-direction: column; // contect and header above footer not left and fight
  min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 80%;
    img {
      display: none;
    }
  }
}
@media only screen and (max-width: 750px) {
  .container {
    max-width: 90%;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    max-width: 95%;
  }
}
// allows container to grow as need leaving enogh space for footer
.content {
  flex-grow: 1;
  // background-color: aqua;
}

.bgStyle {
  h1 {
    background-color: yellow;
  }
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}
